#slogan,
nav,
#main,
footer,
#logo {
    margin: 20px auto 0px auto;
}

nav {
    margin-top: 3vh;
    width: 45vw;
    height: 5vh;
    text-align: center;
    border-bottom: 2px rgb(182, 182, 182) solid;
}

nav ul li {
    display: inline-block;
    list-style: none;
    width: 7vw;
}

nav ul li a {
    text-decoration: underline dotted;
    color: rgb(72, 72, 72);
    font-size: 20px;
}


#slogan {
    width: 45vw;
    height: 15vh;
    text-align: center;
    background-color: rgb(249, 249, 209);
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 40px;
    color: rgb(177, 160, 127);
    border-radius: 5px;
}



#air-benders {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    margin-top: 5vh;
    text-align: center;
}

#logo {
    width: 300px;
    height: 300px;
    border: 2px solid black;
    margin-top: 5vh;
    margin-bottom: 10vh;
    border-radius: 50%;
    background-image: url("assets/64e92abefa9ff276480aedd1c4b55f65.jpg");
    background-position: center;
    background-size: cover;
}

#main {
    width: 50vw;
    height: 100vh;
}

p {
    font-size: 18px;
}

footer {
    border-top: 1px solid gray;
    text-align: center;
    width: 50vw;
    margin-bottom: 20px;
}

#footer-text {
    margin-top: 20px;
}